/* ----------ESTILOS GENERALES---------- */
* {
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    --fuente-titulos: 'Mohave', sans-serif;
    --fuente-texto: 'Mulish', sans-serif;
}

html {
    font-size: 16px;    
    font-family: var(--fuente-texto);
}

/* ----------HEADER---------- */
header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
}

#listado-menu {
    display: flex; 
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;

    position: absolute;
    top: 5vh; /* vinculado a la posicion centrada de los items del menu */
    left: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;

    z-index: -1;
}

#iniciales {
    font-family: var(--fuente-titulos);
    font-weight: bold;
    padding-left: 8px;
}

#contenedor-logo-menu {
    padding-right: 8px;
}


/* ----------DESCRIPCIÓN BREVE---------- */
#descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: var(--fuente-titulos);

    margin-top: 32px;
}

#foto-perfil {
    width: 75vw;
    min-width: 275px;
    max-width: 425px;
}

#breve-descripcion {
    text-align: center;
    max-width: 310px;
    line-height: 1.5;
}

.profesion {
    font-weight: bold;
    font-size: 1.5rem;
}

#listado-contacto {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: space-evenly;
    width: 50vw;
    max-width: 280px;
}

#listado-contacto li {
    display: block;
    padding: 8px;
}

.logo-contacto i {
    font-size: 2rem;
    text-align: center;
    /* margin: 8px; */
}


/* ----------PERFIL---------- */
#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--fuente-titulos);

    margin-top: 32px;
}

.parrafo-perfil {
    text-align: center;
    width: 70%;
    max-width: 325px;
    line-height: 1.25;

}


/* ----------HABILIDADES---------- */
#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.tajeta-habilidad {
    width: 70%;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    padding: 8px 8px 32px;
    border: 2px solid blue;
}

.tajeta-habilidad i,
.titulo-habilidad {
    font-size: 1.5rem;
}

.titulo-habilidad {
    font-family: var(--fuente-titulos);
    font-weight: bold;
}


/* ----------PROYECTOS---------- */
#proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.tarjeta-proyecto {
    width: 70%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    padding: 8px 8px 32px;
    border: 2px solid green;
}

.contenedor-img-proyecto {
    display: flex;
    position: relative;
}

.imagen-proyecto {
    width: 100%;
}

.contenedor-img-proyecto i {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.tarjeta-proyecto i {
    font-size: 1.5rem;
}

.habilidad-proyecto {
    font-family: var(--fuente-titulos);
    font-weight: bold;
}

.titulo-proyecto {
    font-family: var(--fuente-titulos);
    font-weight: bold;
    font-size: 1.5rem;
}


/* ----------CLASES GENERALES---------- */
.elemento-oculto {
    display: none;
}

.elemento-visible {
    display: block;
}

.borde-punteado {
    border: 2px dashed blue;
}

